<h1>Listing definitions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Word</th>
      <th>Definition</th>
    </tr>
  </thead>

  <tbody>
    <% @definitions.each do |definition| %>
      <tr>
        <td><%= link_to definition.word, edit_definition_path(definition) %></td>
        <td><%= definition.definition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Definition', new_definition_path %>
